<h1>Appointments#index</h1>
<p>Find me in app/views/appointments/index.html.erb</p>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :date, "Select date" %>
  <%= form.date_field :date %>

  <%= form.radio_button :duration, "30" %>
  <%= form.label :duration, "30 minutes" %>

  <%= form.radio_button :duration, "60" %>
  <%= form.label :duration, "60 minutes" %>

  <%= form.collection_select :ids %>

<% end %>
