<h1>Search for available time slots</h1>
<p>Choose a date and select if yo want to show 30 or 60 minute 


<%= form_with url: "/appointments/show", method: :get do |form| %>
<div class="row">
    <%= form.label :date, "Select date", class: "col-auto col-form-label" %>
    <div class="col-auto">
        <%= form.date_field :date, class: "form-control" %>
    </div>
    <div class="col">
        <div class="form-check form-check-inline">
            <%= form.radio_button :duration, "30", class: "form-check-input" %>
            <%= form.label :duration, "30 minutes", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
            <%= form.radio_button :duration, "60", class: "form-check-input" %>
            <%= form.label :duration, "60 minutes", class: "form-check-label" %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= form.collection_check_boxes :ids, @therapists.order(:name), :id, :name do |b| %>
            <div class="form-check form-check-inline">
                <%= b.check_box(class: "form-check-input") %>
                <%= b.label(class: "form-check-label") %> 
            </div>
        <% end %>
    </div>
</div>
<div class="row">
  <%= form.submit "Submit" %>
</div>
<% end %>
